li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

li.completed {
  background-color: #f0f0f0;
}

input[type="checkbox"] {
  margin-right: 10px;
}

    /* Estilo do texto riscado */
span[style*="line-through"] {
  text-decoration: line-through;
  color: gray;
}
  